<!-- views folder is the default directory that express uses for your templates -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    <!-- <h1>{pageTitle}}</h1> handlebars syntax are 2 opening and closing curly braces . You can reference any of the props passed in. 1 curly brace is deleted for commenting purpose -->
    {{> header}}
    <p>Some text here</p>

    {{> footer}}
  </body>
</html>
